<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserDatabaseCreation" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/FamilyEconomicWcfServices/UserDatabaseCreationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserDatabaseCreation"
        contract="WcfServiceReference.IUserDatabaseCreation" name="BasicHttpBinding_IUserDatabaseCreation" />
    </client>
  </system.serviceModel>
</configuration>
