<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserDatabaseCreation" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/FamilyEconomicWcfServices/UserDatabaseCreationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserDatabaseCreation"
                contract="ServiceReferenceNOTdata.IUserDatabaseCreation" name="BasicHttpBinding_IUserDatabaseCreation" />
        </client>
    </system.serviceModel>
</configuration>